{% extends "base.html" %}
$def with ()
{% block title %}plot{% endblock %}
$# var css: //cdnjs.cloudflare.com/ajax/libs/dc/2.0.0-beta.14/dc.css
$# var js: //cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.11/crossfilter.min.js //cdnjs.cloudflare.com/ajax/libs/dc/2.0.0-beta.14/dc.min.js

{% block content %}
{% include 'filter.html' %}

<div id=plot>

    <div id="main">
      <div id="sequence"></div>
      <div id="chart">
        <div id="explanation" style="visibility: hidden;">
          <span id="percentage"></span>
        </div>
      </div>
    </div>

</div>

<style>
path {
  stroke: #fff;
  fill-rule: evenodd;
}
#main {
  float: left;
  width: 750px;
}

#sequence {
  width: 600px;
  height: 70px;
}

#sequence text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 260px;
  left: 305px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: 1;
}

#percentage {
  font-size: 2.5em;
}
</style>

<script src="{{ url_for("static", filename="d3.min.js") }}"></script>
<script>
window.onload=(function(){

var width = 750,
    height = 600,
    radius = Math.min(width, height) / 2;

var x = d3.scale.linear()
    .range([0, 2 * Math.PI]);

var y = d3.scale.sqrt()
    .range([0, radius]);

var root_color = d3.scale.category10().domain(['Income', 'Expenses', 'Assets', 'Liabilities', 'Equity', '']);

function color(a){
    if (!a || (a.length==0))
        return '#000000';
    else
        return d3.rgb(root_color(a[0].name)).brighter((a.length-1)*0.5).toString();
}

var svg = d3.select("#chart").append("svg")
    .attr("width", width)
    .attr("height", height)
    .append("g")
    .attr("id", "container")
    .attr("transform", "translate(" + width / 2 + "," + (height / 2 + 10) + ")");

var partition = d3.layout.partition()
    .value(function(d) { return d.size; });

var arc = d3.svg.arc()
    .startAngle(function(d) { return Math.max(0, Math.min(2 * Math.PI, x(d.x))); })
    .endAngle(function(d) { return Math.max(0, Math.min(2 * Math.PI, x(d.x + d.dx))); })
    .innerRadius(function(d) { return Math.max(0, y(d.y)); })
    .outerRadius(function(d) { return Math.max(0, y(d.y + d.dy)); });

var b = {
  w: 100, h: 30, s: 3, t: 10
};

var totalSize = 0;

d3.json("accounts"+location.search, function(error, root) {
  if (error) throw error;

 initializeBreadcrumbTrail();
  // Bounding circle underneath the sunburst, to make it easier to detect
  // when the mouse leaves the parent g.
  svg.append("svg:circle")
      .attr("r", radius)
      .style("opacity", 0);

    var g = svg.selectAll("g")
      .data(partition.nodes(root))
      .enter().append("g")
  var path = g.append("path")
      .attr("d", arc)
      .style("fill", function(d) { return color(getAncestors(d)); })
      .on("click", click)
      .on("mouseover", mouseover);

    var text = g.append("text")
    .attr("transform", function(d) { return "rotate(" + computeTextRotation(d) + ")"; })
    .attr("x", function(d) { return y(d.y); })
    .attr("dx", "6") // margin
    .attr("dy", ".35em") // vertical-align
    .attr("pointer-events", "none")
    .text(function(d) { return d.name; })

  // Add the mouseleave handler to the bounding circle.
  d3.select("#container").on("mouseleave", mouseleave);

  // Get total size of the tree = value of root node from partition.
  totalSize = path.node().__data__.value;

  function click(d) {
  totalSize = d.value;
  text.transition().attr("opacity", 0);
    path.transition()
      .duration(750)
      .attrTween("d", arcTween(d))
      .each("end", function(e, i) {
          // check if the animated element's data e lies within the visible angle span given in d
          if (e.x >= d.x && e.x < (d.x + d.dx)) {
            // get a selection of the associated text element
            var arcText = d3.select(this.parentNode).select("text");
            // fade in the text element and recalculate positions
            arcText.transition().duration(750)
              .attr("opacity", 1)
              .attr("transform", function() { return "rotate(" + computeTextRotation(e) + ")" })
              .attr("x", function(d) { return y(d.y); });
          }
      });
  }
});

d3.select(self.frameElement).style("height", height + "px");

// Interpolate the scales!
function arcTween(d) {
  var xd = d3.interpolate(x.domain(), [d.x, d.x + d.dx]),
      yd = d3.interpolate(y.domain(), [d.y, 1]),
      yr = d3.interpolate(y.range(), [d.y ? 20 : 0, radius]);
  return function(d, i) {
    return i
        ? function(t) { return arc(d); }
        : function(t) { x.domain(xd(t)); y.domain(yd(t)).range(yr(t)); return arc(d); };
  };
}

 d3.select("#container").on("mouseleave", mouseleave);

function computeTextRotation(d) {
  return (x(d.x + d.dx / 2) - Math.PI / 2) / Math.PI * 180;
}

// Fade all but the current sequence, and show it in the breadcrumb trail.
function mouseover(d) {

  var percentage = (100 * d.value / totalSize).toPrecision(3);
  var percentageString = percentage + "%";
  if (percentage < 0.1) {
    percentageString = "< 0.1%";
  }

  d3.select("#percentage")
      .text(d3.format('$,')(d3.round(d.value)));

  d3.select("#explanation")
      .style("visibility", "");

  var sequenceArray = getAncestors(d);
  updateBreadcrumbs(sequenceArray, percentageString);

  // Fade all the segments.
  d3.selectAll("path")
      .style("opacity", 0.3);

  // Then highlight only those that are an ancestor of the current segment.
  svg.selectAll("path")
      .filter(function(node) {
                return (sequenceArray.indexOf(node) >= 0);
              })
      .style("opacity", 1);
}

// Restore everything to full opacity when moving off the visualization.
function mouseleave(d) {

  // Hide the breadcrumb trail
  d3.select("#trail")
      .style("visibility", "hidden");

  // Deactivate all segments during transition.
  d3.selectAll("path").on("mouseover", null);

  // Transition each segment to full opacity and then reactivate it.
  d3.selectAll("path")
      .transition()
      .duration(1000)
      .style("opacity", 1)
      .each("end", function() {
              d3.select(this).on("mouseover", mouseover);
            });

  d3.select("#explanation")
      .style("visibility", "hidden");
}

// Given a node in a partition layout, return an array of all of its ancestor
// nodes, highest first, but excluding the root.
function getAncestors(node) {
  var path = [];
  var current = node;
  while (current.parent) {
    path.unshift(current);
    current = current.parent;
  }
  return path;
}

function initializeBreadcrumbTrail() {
  // Add the svg area.
  var trail = d3.select("#sequence").append("svg:svg")
      .attr("width", width)
      .attr("height", 50)
      .attr("id", "trail");
  // Add the label at the end, for the percentage.
  trail.append("svg:text")
    .attr("id", "endlabel")
    .style("fill", "#000");
}

// Generate a string that describes the points of a breadcrumb polygon.
function breadcrumbPoints(d, i) {
  var points = [];
  points.push("0,0");
  points.push(b.w + ",0");
  points.push(b.w + b.t + "," + (b.h / 2));
  points.push(b.w + "," + b.h);
  points.push("0," + b.h);
  if (i > 0) { // Leftmost breadcrumb; don't include 6th vertex.
    points.push(b.t + "," + (b.h / 2));
  }
  return points.join(" ");
}

// Update the breadcrumb trail to show the current sequence and percentage.
function updateBreadcrumbs(nodeArray, percentageString) {

  // Data join; key function combines name and depth (= position in sequence).
  var g = d3.select("#trail")
      .selectAll("g")
      .data(nodeArray, function(d) { return getAncestors(d).map(function(d){return d.name}).join(':'); });

  // Add breadcrumb and label for entering nodes.
  var entering = g.enter().append("svg:g");

  entering.append("svg:polygon")
      .attr("points", breadcrumbPoints)
      .style("fill", function(d) { return color(getAncestors(d)); });

  entering.append("svg:text")
      .attr("x", (b.w + b.t) / 2)
      .attr("y", b.h / 2)
      .attr("dy", "0.35em")
      .attr("text-anchor", "middle")
      .text(function(d) { return d.name; });

  // Set position for entering and updating nodes.
  g.attr("transform", function(d, i) {
    return "translate(" + i * (b.w + b.s) + ", 0)";
  });

  // Remove exiting nodes.
  g.exit().remove();

  // Now move and update the percentage at the end.
  d3.select("#trail").select("#endlabel")
      .attr("x", (nodeArray.length + 0.5) * (b.w + b.s))
      .attr("y", b.h / 2)
      .attr("dy", "0.35em")
      .attr("text-anchor", "middle")
      .text(percentageString);

  // Make the breadcrumb trail visible, if it's hidden.
  d3.select("#trail")
      .style("visibility", "");

}

/*
d3.json('plot.json', function(error, data){

data.forEach(function(d){

var dateFormat = d3.time.format('%Y-%m-%d');

data.forEach(function(d) {
    d.date = dateFormat.parse(d.date)
    d.absamount = (['Income', 'Liabilities', 'Equity'].indexOf(d.account[0]) == -1) ?  +d.amount : -d.amount;
});

var ndx = crossfilter(data);

var dDate = ndx.dimension(function(d){return d.date}),
dPayee = ndx.dimension(function(d){return d.payee}),
dAccount = ndx.dimension(function(d){return d.account}),
dAll = ndx.dimension(function(d){return d});

var all = ndx.groupAll();

var amountPerPayee = dPayee.group().reduceSum(function(d){return d.absamount}),
sumPerAccount = dAccount.group().reduceSum(function(d){return d.absamount}),
sumPerDate = dDate.group().reduceSum(function(d){return d.amount});
expensePerDate = dDate.group().reduceSum(function(d){return d.amount > 0 ? -d.amount : 0});
incomePerDate = dDate.group().reduceSum(function(d){return d.amount > 0 ? -d.amount : 0});


d3.selectAll('a#all').on('click', function () {
  dc.filterAll();
  dc.renderAll();
});

dc.renderAll();

})
*/

})
</script>
{% endblock %}
